
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@600&family=Red+Hat+Display:ital,wght@0,300;0,400;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Red+Hat+Display:wght@300&family=Space+Grotesk:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;
/* // tailwind.css or your custom CSS file */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=VT323&display=swap');

@font-face {
  font-family: "Minecraft";
  src: url("../../public/minecraft.ttf");
}


@font-face {
  font-family: "Minecrafter";
  src: url("../../public/MinecraftRegular-Bmg3.otf");
}



html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
 }

::selection{
  color: green;
  background-color: yellow;
}








body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #8e8e8e;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #616161;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
	background-color: #575757;
}
