nav.navbar {
    width: 100%;
    top: 0;
    border: 1.56642px solid #000000;
    z-index: 9999;
    transition: 0.32s ease-in-out;
  }
  
  
  
  nav.navbar a.navbar-brand {
    width: 9%;
  }
  
  /* 
  .header {
    display: flex;
    justify-content: space-between;
  } */
  
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 700;
    color: white;
    margin-right: -0.5vw;
    
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    background-color: #5C40EC;
    
    font-size: 19px;
    line-height: 24px;
    opacity: 0.75;
  }
  
  
  
  
  .heading__container {
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #FFEB01;
  }
  
  .heading {
    /* line-height: 128px; */
    text-shadow: '4.82823px 4.82823px 0px red'
  }
  
  nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
  nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
  }
  
  .navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
  
    font-size: 18px;
   
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
  }
  
  .non__scrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (max-width: 767px) {
   
  
    /*.non__scrolled.navbar.navbar-expand-md.navbar-light {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #FFEB01;
      justify-content: space-between;
    }*/
  
   /* .non__scrolled .navbar-options {
       display: none;
    }*/
  
    .heading {
      font-family: 'Space Grotesk';
      font-style: normal;
      color: #05040E;
      font-weight: 700;
    }
  
  }
  
  
  .heading {
    display: flex;
    /* display: inline; */
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
    /* font-family: 'Red Hat Display ' !important; */
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    color: #0E0E2C;
    /* font-size: 1.25rem; */
    /* font-size: 120px;
    line-height: 145px; */
  }
  
  /* nav.navbar.scrolled.heading { */
  /* font-size: 28p; */
  /* font-family: 'Red Hat Display'; */
  /* font-style: normal;
    color: white;
    font-size: 30px; */
  /* display: none; */
  /* } */
  /* nav.navbar.scrolled.heading__container { */
  /* color: white; */
  /* flex: 0.25;
    height: 20px;
  
    width: 25vw;
    background-color: #5C40EC; */
  /* padding: 2px; */
  /* font-size: 30px; */
  /* } */
  /* nav.navbar.scrolled.heading__container{
    background-color: #5C40EC;
  }  */
  
  
    .heading {
      width: 100%;
      font-size: 10vw;
      /* height: 0.5vw; */
    }
  
    nav.navbar .navbar-nav .nav-link.navbar-link {
      font-size: 2vw;
    }
  
    nav.navbar {
      display: flex;
  
    }
  
  
  /* @media screen and (min-width: 768px) and (max-width:900px) {
    .heading{
      font-size: ;
    }
  }  */
  /* .navbar-options{
    border: 1.56642px solid #000000;
  } */
  
  .navbar-text button span {
    z-index: 1;
  }
  
  .navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  
  .navbar-text button:hover {
    color: #121212;
  }
  
  .navbar-text button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  nav.navbar .navbar-toggler:active,
  nav.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  
  nav.navbar .navbar-toggler {
    /* border: 1px solid black; */
    width: 100%;
    /* color: white; */
  }
  
  nav.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    /* border-bottom: 2px solid #fff; */
    transition: all 300ms linear;
    top: -2px;
  }
  
  
  
  nav.navbar .navbar-toggler-icon:after,
  nav.navbar .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: red;
    /* color: #000; */
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
  }
  
  nav.navbar .navbar-toggler-icon:after {
    top: 8px;
  }
  
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
    background-color: red;
    height: 2px;
  }
  
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
    background-color: red;
    height: 2px;
  }
  
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
  }
  
  .toggleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    /* border: 1px solid black; */
  }
  navbar-options {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    border: 1px solid black; 
  
    background: #5C40EC;
    border-width: 3px 0px;
    border-style: solid;
    border-color: #000000;
   
    /* display: none; */
  }
   
  nav.navbar.scrolled .header-name {
    display: block;
    /* justify-content: flex-end; */
    border: 0px solid #5C40EC;
  }

  @media (max-width: 900px) {
    .logo  {
      display: flex;
      flex-direction: column;
      align-items: center;
  height: 70px;
  flex-shrink: 0;
  position: relative;
  bottom:6.8rem;
    }
  }
  @media (min-width: 900px) {
    svg{
      display: none;
       
    }
  }
  
  @media (max-width: 900px) {
    .lo{
      display: none;
       
    }
  }
  
  
  @media (max-width: 900px) {
    .woow{
      display: flex;
  padding:38px 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: var(--Black, #1F1F1F);
  
  height: 7rem;
  
    }
  }
  @media (min-width: 700px) {
    .woow{
      display: flex;
  padding:38px 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: var(--Black, #1F1F1F);
  
  height: 8rem;
  position: relative;
  bottom: 8rem;
    }
  }
 @media (min-width: 900px) {
    .what {
      height: 8rem;
      margin-top: -14rem;
      position: relative;
      
    }
  }

  @media (max-width: 900px) {
    .what {
     
      margin-top: -4rem;
      position: relative;
      
    }
  }
  @media (max-width: 900px) {
    .man{
      display: flex;
    position: relative;
               

    }
  }
  
  @media (min-width: 900px) {
    .man{
      display: none;
       
    }
  }
  .hell
  {
    color: var(--white, #FFF);
   
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
  word-spacing: 12px;
    justify-content: space-between;

  }
  .heaven
  {
    display: flex;
  padding: 15px 15px;
  justify-content: space-between;
  align-items: center;
    
  }
  @media (max-width: 900px) {
    .regist{
      display: none;
     
    }
  }
  @media (max-width: 900px) {
    .mol{
      display: none;
     
    }
  }
  @media (max-width: 900px) {
    .texx{
      display: none;
     
    }
  }
  
  @media (max-width: 900px) {
    .texx2{
      display: none;
     
    }
  }
  @media (max-width: 900px) {
    .texx3{
      display: none;
     
    }
  }
  @media (max-width: 900px) {
    .texx4{
      display: none;
     
    }
  }
  @media (max-width: 900px) {
    .texx5{
      display: none;
     
    }
  }
  @media (max-width: 900px) {
    .texx6{
      display: none;
     
    }
  }
  @media (max-width: 900px) {
    .tell{
      display: none;
     
    }
  }
  
  @media (max-width: 900px){
  .five{
      width: 300px;
      height: 50px;
      flex-shrink: 0;
      align-items: center;
      /*trial*/
      display: flex;
  width: 29%;
  padding: 30px ;
  justify-content: center;
  align-items: center;
  position: relative;
  top:1.8rem;
  
  
    }
  }
  @media (max-width: 900px) {
    .gdsc{
      display: none;
       
    }
  }
  @media (min-width: 900px) {
    .mobile{
      display: none;
       
    }
  }
  
  @media (min-width: 900px) {
    .wow{
      display: flex;
      width: 100%;
        
    }
  }

  
  .gdsc
  {
    color: white;
  
  font-family: Poppins;
  font-size: 38.09px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--Black, #1F1F1F);
  padding: 1.4% 4.8%;
  position: relative;
  bottom: 0.2rem;
  left:2%;
  }
  .nit
  {
    color: #FFF;
  
  font-family: Poppins;
  font-size: 20.73px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.908px; /* 107.999% */
  
  background: var(--Black, #1F1F1F);
  position: relative;
 bottom: 0.2rem;
 
  justify-content: space-between;
  
  }
 

  
  .five
  {
    position: relative;
    bottom:8rem;
    left:37%;
  }
  .six{
   position: relative;
 bottom:5rem;
 left: 2.2%;
  }
  .seven{
    position: relative;
    bottom: 15.2rem;
    left:82%;
  }
  
  .mol{
    color: #FFF;
    text-align: center;
/* Minecrafter Regular/xl */
font-family: Minecrafter;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
position: relative;
top: 3.6rem;
  }
  
  .tell{
    color: var(--white, #FFF);

font-family: Space Grotesk;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 40px */
position: relative;
top: 3rem;
right:500%;
  }
  .texx{
    color: var(--white, #FFF);

    font-family: Space Grotesk;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 40px */
    position: relative;
    top: rem;
    right:221%;
  }
  .texx2{
    color: var(--white, #FFF);

    font-family: Space Grotesk;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 40px */
    position: relative;
    bottom:2.8rem;
    right:70%;
  }
  .texx3{
      color: var(--white, #FFF);
  
      font-family: Space Grotesk;
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%; /* 40px */
      position: relative;
      bottom:5.5rem;
      left:55%;
    }
    .texx4{
      color: var(--white, #FFF);
  
      font-family: Space Grotesk;
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%; /* 40px */
      position: relative;
      bottom:8.4rem;
      left:165%;
    }
    .texx5{
      color: var(--white, #FFF);
  
      font-family: Space Grotesk;
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%; /* 40px */
      position: relative;
      bottom:11.4rem;
      left:270%;
    }
    .texx6{
      color: var(--white, #FFF);
  
      font-family: Space Grotesk;
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%; /* 40px */
      position: relative;
      bottom:14.4rem;
      left:370%;
    }

 @media (max-width: 900px) {
 .marquee{

  background: #79FF4A;
height: 65px;
justify-content: flex-start;
align-items: center;
 }
}
@media (min-width: 900px) {
  .marquee{
   background: #79FF4A;
 height: 65px;
 padding: 7px;
 justify-content: flex-start;
 align-items: center;
    color: white;
  }
 }