.container {
  background-color: #f2eac6;
  background-image: url("../../public/images/timeline/background-texture.svg");
}
.widthbook {
  height: 462px;
  width: 353px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.orientationofbook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading1 {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  color: black;
  text-align: center;
  /* Minecrafter Regular/7xl */
  font-family: "Minecrafter", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 72px */
}

.borderleft {
  box-shadow: 0 -6.97px 2px rgba(0, 0, 0, 0.2),
    inset 0 -9.3px 2px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 40px;
  padding-left: 40px;
}
.borderright {
  box-shadow: 0 9.3px 2px rgba(0, 0, 0, 0.2),
    inset 0 9.3px 2px rgba(0, 0, 0, 0.3);
  border-top: 3px solid #451b0b;
  border-bottom: 4px solid #451b0b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 40px;
  padding-left: 40px;
}
.borderbox {
  background-image: url(../../public/images/timeline/OuterBoxmob.svg);
  background-repeat: no-repeat;
}
.paddinginbox {
  padding-top: 5px;
  padding-bottom: 12px;
  padding-left: 30px;
}

.daytext {
  color: var(--Black, #1f1f1f);

  /* Space Grotesk Bold/4xl */
  font-family: "Space Grotesk";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 45px */
}

.containertext {
  color: var(--Black, #1f1f1f);
  font-family: "Space Grotesk";
  font-size: 12.8px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

@media (min-width: 990px) {
  .orientationofbook {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .borderleft {
    box-shadow: -9.3px 5.97px 2px rgba(0, 0, 0, 0.2),
      inset -9.3px 0 2px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 35px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .borderright {
    box-shadow: 6.3px 4.97px 2px rgba(0, 0, 0, 0.2),
      inset 9.3px 0 2px rgba(0, 0, 0, 0.3);
    border-left: 3px solid #451b0b;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 35px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .widthbook {
    height: 598px;
    width: 465px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }
  .borderbox {
    background-image: url(../../public/images/timeline/borderbox.svg);
    background-repeat: no-repeat;
  }
  .paddinginbox {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
  }
  .display {
    display: none;
  }
  .containertext {
    color: var(--Black, #1f1f1f);
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
  }
}
